.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.navbar_container_routes {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar_container_logo {
    color: var(--yellow-theme-main-color);
    cursor: pointer;
}

.navbar_container_routes {
    display: flex;
    list-style: none;
    text-align: center;
}

.nav_icons {
    display: none;
}

.navbar_container_routes_item {
    line-height: 40px;
    margin-right: 30px;
    font-size: 16px;
    transition: transform .1s;

    border-bottom: 2px solid transparent;
    transition: border-color 0.1s ease;
}

.navbar_container_routes_item:hover {
    border-bottom-color: var(--yellow-theme-main-color);
    /* font-size: 22px; */
    transform: scale(1.4);
}

.navbar_container_routes_item_links {
    color: var(--yellow-theme-main-color);
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .nav_icons {
        display: block;
        cursor: pointer;
        color: var(--yellow-theme-main-color);
        padding-right: 20px;
    }

    .navbar_container_routes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transform: all 0.5s ease;

        &.active {
            background: #181818;
            left: 0px;
            opacity: 1;
        }
    }

}